
<h3>Take a Look</h3>
<p>Visit are some sites that were created with our platfom</p>
{{#if sites}}
{{#each sites as |site|}}
  <a data-id={{site.id}} class='site-link'>{{site.name}}<a><br>
{{/each}}
{{else}}
<h4>We don't have any sites yet to show you</h4>
{{/if}}
