$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$app-red: #da568a;
$app-bg-color: #e2eef5;
$message-color: #da6d09;

a {
  cursor: pointer;
}

body {
  background-color: $app-bg-color;
}


.asterisk {
  color: $app-red;
}

.change-site-name {
  margin-top: 20px;
}

.create-new-site {
  margin: 5% 0;
}

.date {
  float: right;
}

.delete-site-btn {
  margin-top: 30px;
}

.error-success-message {
  color: $message-color;
  float: right;
  font-weight: bold;
}
