$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


a {
  cursor: pointer;
}

.change-site-name {
  margin-top: 20px;
}

.create-new-site {
  margin: 5% 0;
}

.date {
  float: right;
}

.delete-site-btn {
  margin-top: 30px;
}
